
@mixin cell-element {
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    width:auto;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    text-shadow: 1px 1px 5px rgba(255, 215, 0, 0.7);
    padding: 10px 20px;
    text-align: center;
}
.table-container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url("/assets/snowy-mountains-dolomiten-reflected-lake.jpg") no-repeat;
    background-size:cover;
    background-position: center;

    table{
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        border-radius: 40px;
        border:2px solid rgba(255, 255, 255, 0.2);
        th{
        @include cell-element;
        }
        td{
            @include cell-element;
            i{
                cursor: pointer;
                margin: 0 5px;
            }
        }
    }
}
