<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Telephone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Harlequelrah</td>
        <td>maximeatsoudegbovigmail.com</td>
        <td>Maxime</td>
        <td>DEGBOVI</td>
        <td>+228 91361029</td>
        <td>
          <i class="bx bxs-edit-alt"></i>
          <i class="bx bxs-trash-alt"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
